<table >
  <thead>
    <tr class="trHead">
      <th>Acciones</th>
      <th>Identificación</th>
      <th>Nombre</th>
      <th>Correo Electronico</th>
      <th>N° Contrato</th>
      <th>Escalafon telefonico</th>
    </tr>
  </thead>
  <tbody>
    <tr class="trBody" *ngFor="let employee of employees | pagination:currentPage:pageSize">
      <td>
        <button (click)="editUser(employee.employeeId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteUser(employee.employeeId)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td>{{ employee.identificacion }}</td>
      <td>{{ employee.names }} {{employee.lastNames}}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.contractNumber }}</td>
      <td>{{ employee.technicalRank }}</td>
    </tr>
  </tbody>
</table>

<!-- Control de paginación -->
<div class="pagination-controls">

  <!-- Mostrar el número de página actual y total -->
  <span style="align-content: center;"> 
    <button style="background: none; border: none;" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>  
    {{ currentPage }} al de {{ totalPages }} 
    <button style="background: none; border: none;" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </span>


  <!-- Botón para ir a la primera página con doble flecha a la izquierda -->
  <button style="background: none; border: none;" (click)="changePage(1)" [disabled]="currentPage === 1">
    <mat-icon>first_page</mat-icon>
  </button>


  <!-- Botón de página anterior, deshabilitado si estamos en la primera página -->
  <button style="background: none; border: none;" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <span style="align-content: center;">
    {{ currentPage }}
  </span>   

  <!-- Botón de página siguiente, deshabilitado si estamos en la última página -->
 <button style="background: none; border: none; " (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
    <mat-icon >keyboard_arrow_right</mat-icon>
 </button>

 <!-- Botón para ir a la última página con doble flecha a la derecha -->
 <button style="background: none; border: none;" (click)="changePage(totalPages)" [disabled]="currentPage === totalPages">
  <mat-icon>last_page</mat-icon>
</button>
</div>
  
  