<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <section class="sectionClass">
        <nav class="navClass">

            <P style="color: white;">CESDE</P>

            <section class="sectionNav" style="color: white;">

                <button style="background: none; border: none; color: white;" (click)="handleClick()">
                    <mat-icon style="font-size: 50px; height: 50px; width: 50px; color: white;">account_circle</mat-icon> 
                  </button>
                  USUARIO
                  <button style="background: none; border: none;" (click)="handleClick()">
                    <mat-icon style="font-size: 30px; height: 30px; width: 30px;">exit_to_app</mat-icon> 
                  </button>
            </section>

            
              
        </nav>
        <aside class="asideClass"><p class="pClass" style="color: rgb(253, 95, 174);">ADMINISTRACIÓN Y GESTIÓN DE DOCENTES</p> <button class="buttonClass">NUEVO DOCENTE</button></aside>
        <h1 class="divider"></h1>
        <br> <br>
        <div>
            <form class="formClass">
                <input class="inputClass" type="text" placeholder="Buscar">
            </form>
        </div>
        <br><br>
        <app-employee-list></app-employee-list>
    </section>
</body>
</html>