<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <section class="sectionClass">
        <nav class="navClass">

            <button style="cursor: pointer; color: white; background: none; border:  none;"><P style="color: white;">CESDE</P></button> 

            <section class="sectionNav" style="color: white;">

                <button style="cursor: pointer; background: none; border: none;">
                    <mat-icon style="font-size: 50px; height: 50px; width: 50px; color: white;">account_circle</mat-icon> 
                  </button>
                  <button style="cursor: pointer; color: white; font-size: 20px; font-weight: bolder;">USUARIO</button>
                  <button style="cursor: pointer; background: none; border: none;">
                    <mat-icon style="font-size: 30px; height: 30px; width: 30px; color: white;">exit_to_app</mat-icon> 
                  </button>
            </section>
        </nav>
        <aside class="asideClass"><p class="pClass">CREAR DOCENTE</p></aside>
        <h1 class="divider"></h1>

        <aside class="asideContainer">
            <form class="formClass" (ngSubmit)="addEmployee()">
                <div class="form-row">
                    <section>
                        <label>Tipo identificación</label>
                        <br>
                        <select name="identificationType" class="selectType" [(ngModel)]="newEmployee.identificationType" required>
                            <option value="CC">CC</option>
                            <option value="CE">CE</option>
                        </select>
                    </section>
                    
                    <section>
                        <label>Identificación</label>
                        <br>
                        <input name="identificacion" class="inputsForm" type="text" [(ngModel)]="newEmployee.identificacion" required>
                    </section>
            
                    <section>
                        <label>Nombres</label>
                        <br>
                        <input name="names" class="inputsForm" type="text" [(ngModel)]="newEmployee.names" required>
                    </section>
            
                    <section>
                        <label>Apellidos</label>
                        <br>
                        <input name="lastNames" class="inputsForm" type="text" [(ngModel)]="newEmployee.lastNames" required>
                    </section>
                </div>
                
                <div class="form-row">
                    <section>
                        <label>Correo Electrónico</label>
                        <br>
                        <input name="email" class="inputsForm" type="email" [(ngModel)]="newEmployee.email" required>
                    </section>
            
                    <section>
                        <label>Teléfono Celular</label>
                        <br>
                        <input name="phone" class="inputsForm" type="number" [(ngModel)]="newEmployee.phone" required>
                    </section>
            
                    <section>
                        <label>Ciudad Residencia</label>
                        <br>
                        <input name="cityOfResidence" class="inputsForm" type="text" [(ngModel)]="newEmployee.cityOfResidence">
                    </section>
            
                    <section>
                        <label>Número de Contrato</label>
                        <br>
                        <input name="contractNumber" class="inputsForm" type="number" [(ngModel)]="newEmployee.contractNumber" required>
                    </section>
                </div>
            
                <div class="form-row">
                    <section>
                        <label>Escalafón Técnico</label>
                        <br>
                        <select name="technicalRank" class="selectOptions" [(ngModel)]="newEmployee.technicalRank" required>
                            <option value="Tecnico">Técnico</option>
                            <option value="Tecnologo">Tecnólogo</option>
                            <option value="Profesional">Profesional</option>
                        </select>
                    </section>
            
                    <section>
                        <label>Escalafón Extensión</label>
                        <br>
                        <select name="extensionRank" class="selectOptions" [(ngModel)]="newEmployee.extensionRank" required>
                            <option value="MinusOneYear">Técnico experiencia inferior 1 año</option>
                            <option value="PlusOneYear">Técnico experiencia superior 1 año</option>
                            <option value="Tecnologo">Tecnólogo</option>
                            <option value="Profesional">Profesional</option>
                        </select>
                    </section>
                    <br>
                    
                    <div class="form-row">
                        <section class="sectPass">
                            <label>Contraseña</label>
                            <br>
                            <input class="inputsForm" type="password" name="password" [(ngModel)]="newEmployee.password" required>
                        </section>
                    </div>
                    
                </div>
            
                <section class="button-container">
                    <button type="button" (click)="back()">Atrás</button>
                    <button type="submit">Guardar</button>
                </section>
            </form>
            
        </aside>
    </section>
</body>
</html>